<div class="tabs-top">

	<ul class="tabs__caption-top">
		<!--<li class="active">ჩვენი სტატისტიკა</li>
		<li>მონაცემები</li>-->
	</ul>




	<div class="tabs__content-top active">
		<div class="main-content__butto3__first-service">
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/layer-1.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
		</div>
	</div>
</div><!-- .tabs -->