<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li class="tabs__content-top--slider">კვლევები</li>
		<li>მონაცემები</li>
	</ul>

	<div class="tabs__content-top  active">
		<div class="main-content__tab-about">
			<div class="tab-about__img">
				<img src="img/2020.png" alt="img">
			</div>
			
		</div>
	</div>

	<div class="tabs__content-top tabs__content-top ">
		<div class="main-content__tab-slider">
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
		</div>
	</div>

	<div class="tabs__content-top">
		<div class="main-content__butto3">
			<img src="" alt="">
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
			<div class="button3__persone">
				<img src="img/5659.jpg.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
				<p class="buttone3__text">ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
			</div>
		</div>
	</div>



</div><!-- .tabs -->