<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li class="tabs__content-top--slider">კვლევები</li>
		<li class="animation-open-block threeOpenModal">მონაცემები</li>
	</ul>
	<div class="tabs__content-top tabs__content-top--first-screen active">
		<div class="main-content__tab-about">
			<div class="tab-about__img">
                <div class="about-1__slider-container">
                    <div class="about-1__slik">
                        <div class="tab-about__info">
                            <p class="info-title">საბეჭდი და</p>
                            <p class="info-description">
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                                იგი სტანდარტად 1500-იანი წლებიდან იქცა,
                                როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი არ
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                                იგი სტანდარტად 1500-იანი წლებიდან იქცა,
                                როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი არ
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                            </p>
                        </div>
                        <div class="tab-about__info">
                            <p class="info-title">საბეჭდი და</p>
                            <p class="info-description">
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                                იგი სტანდარტად 1500-იანი წლებიდან იქცა,
                                როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი არ
                            </p>
                        </div>
                        <div class="tab-about__info">
                            <p class="info-title">საბეჭდი და</p>
                            <p class="info-description">
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                                იგი სტანდარტად 1500-იანი წლებიდან იქცა,
                                როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი არ
                            </p>
                        </div>
                        <div class="tab-about__info">
                            <p class="info-title">საბეჭდი და</p>
                            <p class="info-description">
                                ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.
                                იგი სტანდარტად 1500-იანი წლებიდან იქცა,
                                როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. მისი ტექსტი არ
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
		</div>
	</div>

	<div class="tabs__content-top tabs__content-top--slick">
		<div class="main-content__tab-slider">
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
		</div>
	</div>

    <div class="tabs__content-top">
        <div id="theGrid" class="firstAnimationBlock">
            <div class="img__team-about"><img src="img/gay@2x.png" alt=""></div>
            <section class="grid">
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
						<p class="about-3__text-title">ტიპოგრაფიული</p>
						<p class="about-3__text">როდესაც უცნობმა მბეჭდავმა ამწყობ დაზგაზე</p>
                    </div>
                    <div class="loader"></div>
                </a>
            </section>
            <section class="content">
                <button style="color: black; display: block" class="close-button"><i class="fa fa-close"><img src="img/close.png" alt=""></i><span>Close</span></button>
                <div class="scroll-wrap">
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>
                                    <div class="contact-about__item-form">
                                        <div><span class="span__about-contact-menu"><img class="img__about-contact-menu" src="img/email.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/cellphone-android.png" alt=""></span><span>text</span></div>
                                        <div><span><img class="img__about-contact-menu"  src="img/clock.png" alt=""></span><span>text</span></div>
                                    </div>
                                </div>

                            </div>
                            <ul id="og-grid-three" class="og-grid">
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                        <img src="img/4491.png" alt="img01"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                        <img src="img/4491.png" alt="img02"/>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                        <img src="img/4491.png" alt="img03"/>
                                    </a>
                                </li>
                            </ul>

                    </article>
                </div>
            </section>
        </div>
    </div>



</div><!-- .tabs -->