<div class="tabs-top">
	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li>მონაცემები</li>
	</ul>
    <div class="tabs__content-top active">
        <div class="servece-second__title">
            <div class="second__title">
                <p>ჩვენი სტატისტიკაჩვენი სტატისტიკა</p>
            </div>
            <div class="second-service__container">
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
            </div>
        </div>
        <div class="servece-second__title">
            <div class="second__title">
                <p>ჩვენი სტატისტიკაჩვენი სტატისტიკა</p>
            </div>
            <div class="second-service__container">
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
            </div>
        </div>        
	</div>
    <div class="tabs__content-top">
        <div class="servece-second__title">
            <div class="second__title">
                <p>ჩვენი სტატისტიკაჩვენი სტატისტიკა</p>
            </div>
            <div class="second-service__container">
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
            </div>
        </div>
        <div class="servece-second__title">
            <div class="second__title">
                <p>ჩვენი სტატისტიკაჩვენი სტატისტიკა</p>
            </div>
            <div class="second-service__container">
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
                <div class="first__item">
                    <img src="img/footer-logo.png" alt="persone">
                    <p class="buttone3__title">მემორანდუმი</p>
                </div>
            </div>
        </div>        
	</div>
</div>