<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li>კვლევები</li>
		<li>მონაცემები</li>
	</ul>

	<div class="tabs__content-top tabs__content-top ">
		<div class="main-content__tab-slider">
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
		</div>
	</div>

<div class="tabs__content-top  active">
		<div class="container__menu-scrol">
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tabs__content-top">
	text
	</div>


</div><!-- .tabs -->