<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li>მონაცემები</li>
	</ul>


	<div class="tabs__content-top active">
		<div class="first-service__titile">
			<p>კარიერა</p>
		</div>
		<div class="first-service__text">
			<p>დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში 
				მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების  ინფორმირებულობა კარიერული 
				პერსპექტივების შესახებ.
				სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას,  
				სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
				აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ 
				დაგეგმვასა და პროფესიებზე.
			</p>
					</div>
		<div class="main-content__butto3__first-service">
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
		</div>
	</div>


	<div class="tabs__content-top">
		<div class="main-content__butto3__first-service">
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
			<div class="first__item">
				<img src="img/footer-logo.png" alt="persone">
				<p class="buttone3__title">მემორანდუმი</p>
			</div>
		</div>
	</div>
</div><!-- .tabs -->