<div class="tabs-top">

    <ul class="tabs__caption-top">
        <!--<li class="active">ჩვენი სტატისტიკა</li>-->
        <!--<li>კვლევები</li>
        <li>მონაცემები</li>-->
    </ul>

    <div class="tabs__content-top  active">
        <div id="theGrid" class="main secondAnimationBlock">
            <section class="grid">
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta meta--preview position-absolute__img-news">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
                    </div>
                    <div class="title__news-drid">
                        <p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta meta--preview position-absolute__img-news">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
                    </div>
                    <div class="title__news-drid">
                        <p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta meta--preview position-absolute__img-news">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
                    </div>
                    <div class="title__news-drid">
                        <p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta meta--preview position-absolute__img-news">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
                    </div>
                    <div class="title__news-drid">
                        <p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი</p>
                    </div>
                    <div class="loader"></div>
                </a>
                <a class="grid__item position-reletive__grid-item" href="#">
                    <div class="meta meta--preview position-absolute__img-news">
                        <img class="meta__avatar" src="img/5659.jpg.png" alt="author01"/>
                    </div>
                    <div class="title__news-drid">
                        <p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი</p>
                    </div>
                    <div class="loader"></div>
                </a>
            </section>
            <section class="content">
                <button style="color: black; display: block" class="close-button"><i class="fa fa-close"><img src="img/close.png" alt=""></i><span>Close</span></button>
                <div class="scroll-wrap">
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>

                                    <span class="meta__date">00.00 11.11.2017</span>
                                </div>

                            </div>
                            <p class="maine-news-tab__text">    
                                დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა 
                                და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს 
                                სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების 
                                შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების 
                                პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის 
                                მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
                                აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო 
                                ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.
                            </p>
                            <div class="maine-news-tab__img">
                                <img src="img/5659.jpg.png" alt="">
                            </div>
                            <div class="slick-slider-socntiner__news">
                                <div class="slick-slider-socntiner__news-item">

                                </div>
                            </div>
                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>

                                    <span class="meta__date">00.00 11.11.2017</span>
                                </div>

                            </div>
                            <p class="maine-news-tab__text">    
                                დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა 
                                და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს 
                                სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების 
                                შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების 
                                პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის 
                                მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
                                აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო 
                                ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.
                            </p>
                            <div class="maine-news-tab__img">
                                <img src="img/5659.jpg.png" alt="">
                            </div>
                            <div class="slick-slider-socntiner__news">
                                <div class="slick-slider-socntiner__news-item">

                                </div>
                            </div>
                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>

                                    <span class="meta__date">00.00 11.11.2017</span>
                                </div>

                            </div>
                            <p class="maine-news-tab__text">    
                                დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა 
                                და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს 
                                სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების 
                                შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების 
                                პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის 
                                მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
                                აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო 
                                ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.
                            </p>
                            <div class="maine-news-tab__img">
                                <img src="img/5659.jpg.png" alt="">
                            </div>
                            <div class="slick-slider-socntiner__news">
                                <div class="slick-slider-socntiner__news-item">

                                </div>
                            </div>
                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>

                                    <span class="meta__date">00.00 11.11.2017</span>
                                </div>

                            </div>
                            <p class="maine-news-tab__text">    
                                დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა 
                                და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს 
                                სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების 
                                შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების 
                                პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის 
                                მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
                                აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო 
                                ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.
                            </p>
                            <div class="maine-news-tab__img">
                                <img src="img/5659.jpg.png" alt="">
                            </div>
                            <div class="slick-slider-socntiner__news">
                                <div class="slick-slider-socntiner__news-item">

                                </div>
                            </div>
                    </article>
                    <article class="content__item">
                        <div id="theSidebar" class="sidebar">
                            <button class="close-button fa fa-fw fa-close"></button>
                            <div class="codrops-links">
                                <a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
                                <a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
                            </div>
                            <h1><span>Animated<span> Grid Layout</h1>
                            <nav class="codrops-demos">
                                <a class="current-demo" href="index.html">Demo 1</a>
                                <a href="index2.html">Demo 2</a>
                            </nav>
                            <div class="related">
                                <h3>Related Demos</h3>
                                <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
                                <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
                                <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
                            </div>
                        </div>
                            <div class="content-item-bar__right-info">
                                <!--<span class="category category--full">Stories for humans</span>
                                <h2 class="title title--full">On Humans &amp; other Beings</h2>-->
                                <div class="meta meta--full">
                                    <img class="meta__avatar" src="img/2020.png" alt="author01"/>
                                    <span class="meta__author">Matthew Walters</span>
                                    <span class="meta__author">Matthew Walters</span>

                                    <span class="meta__date">00.00 11.11.2017</span>
                                </div>

                            </div>
                            <p class="maine-news-tab__text">    
                                დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა 
                                და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს 
                                სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების 
                                შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების 
                                პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის 
                                მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
                                აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო 
                                ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.
                            </p>
                            <div class="maine-news-tab__img">
                                <img src="img/5659.jpg.png" alt="">
                            </div>
                            <div class="slick-slider-socntiner__news">
                                <div class="slick-slider-socntiner__news-item">

                                </div>
                            </div>
                    </article>

                </div>
            </section>
        </div>
    </div>
</div><!-- .tabs -->