<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active firstOpenModal">ჩვენი პარტნიორები</li>
		<li class="secondOpenModal">საერთაშორისო </li>
	</ul>

	<div class="tabs__content-top  active">
		<div class="container__menu-scrol">
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<ul id="og-grid-first" class="og-grid">
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="images/thumbs/1.jpg" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="images/thumbs/2.jpg" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="images/thumbs/3.jpg" alt="img03"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="images/thumbs/1.jpg" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="images/thumbs/2.jpg" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="images/thumbs/3.jpg" alt="img03"/>
					</a>
				</li>
			</ul>
		</div>
	</div>

<div class="tabs__content-top">
		<div class="container__menu-scrol">

			<ul id="og-grid-second" class="og-grid">
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="images/thumbs/1.jpg" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="images/thumbs/2.jpg" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="images/thumbs/3.jpg" alt="img03"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="images/thumbs/1.jpg" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="images/thumbs/2.jpg" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="images/thumbs/3.jpg" alt="img03"/>
					</a>
				</li>
			</ul>

			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="content-part__item">-->
				<!--<div class="part-item__container">-->
					<!--<img src="img/4491.png" alt="">-->
					<!--<div class="part-item__back-text">-->
						<!--<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>



</div><!-- .tabs -->