<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active firstOpenModal">ჩვენი პარტნიორები</li>
		<li class="secondOpenModal">საერთაშორისო </li>
	</ul>

	<div class="tabs__content-top  active">
		<div class="container__menu-scrol">
			<div class="content-part__item part-item-margin">
				<div class="part-item__container--opasity-part">
					<img src="img/12345.png" alt="">
				</div>
			</div>
			<div class="content-part__item part-item-margin">
				<div class="part-item__container--opasity-part">
					<img src="img/4491.png" alt="">
				</div>
			</div>
			<div class="content-part__item part-item-margin">
				<div class="part-item__container--opasity-part">
					<img src="img/12345.png" alt="">
				</div>
			</div>
			<div class="content-part__item part-item-margin">
				<div class="part-item__container--opasity-part">
					<img src="img/4491.png" alt="">
				</div>
			</div>
			<div class="content-part__item part-item-margin">
				<div class="part-item__container--opasity-part">
					<img src="img/12345.png" alt="">
				</div>
			</div>



		</div>
	</div>

<div class="tabs__content-top part-padding__top">
		<div class="container__menu-scrol part-sec-mod">

			<ul id="og-grid-second" class="og-grid part-tab__ul-flex">
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე..">
						<img src="img/12345.png" class="part-sec__coub" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img src="img/4491.png" class="part-sec__coub" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img src="img/12345.png" class="part-sec__coub" alt="img03"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img src="img/4491.png" class="part-sec__coub" alt="img03"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img src="img/12345.png" class="part-sec__coub" alt="img03"/>
					</a>
				</li>
			</ul>


		</div>
	</div>



</div><!-- .tabs -->