<div class="tabs-top">

	<ul class="tabs__caption-top">
		<!--<li class="active">ჩვენი სტატისტიკა</li>
		<li>მონაცემები</li>-->
	</ul>


	<div class="tabs__content-top active">

		<div class="container__menu-scrol part-sec-mod">

			<ul id="og-grid-grand" class="og-grid">
				<li class="hover-grand">
					<a href="/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="img/footer-logo.png" class="service-grand__img" alt="img01"/>
						<span class="service-grand__text">მონაცემები</span>
					</a>
				</li>
				<li class="hover-grand">
					<a href="/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="img/footer-logo.png" class="service-grand__img" alt="img01"/>
						<span class="service-grand__text">მონაცემები</span>
					</a>
				</li>
				<li class="hover-grand">
					<a href="/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="img/footer-logo.png" class="service-grand__img" alt="img01"/>
						<span class="service-grand__text">მონაცემები</span>
					</a>
				</li>
			</ul>


		</div>

	</div>


	
</div><!-- .tabs -->