<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active serviceFirst">ჩვენი სტატისტიკა</li>
		<li>მონაცემები</li>
	</ul>


	<div class="tabs__content-top active">
        <div class="filters services">
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
        </div>
		<div class="first-service__text">
			<p>დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში 
				მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების  ინფორმირებულობა კარიერული 
				პერსპექტივების შესახებ.
				სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას,  
				სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
				აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ 
				დაგეგმვასა და პროფესიებზე.
			</p>
		</div>
		<div class="container__menu-scrol part-sec-mod">

			<ul id="og-greed-treee" class="og-grid serviceFirstTab">
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე..">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img01"/>
						<!--<span class="service-grand__text">text</span>-->
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img03"/>
					</a>
				</li>
			</ul>


		</div>
	</div>


	<div class="tabs__content-top serviceFirst-two">
        <div class="filters services">
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
        </div>
		<div class="first-service__text">
			<p>დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში 
				მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების  ინფორმირებულობა კარიერული 
				პერსპექტივების შესახებ.
				სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას,  
				სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას 
				აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ 
				დაგეგმვასა და პროფესიებზე.
			</p>
		</div>
		<div class="container__menu-scrol part-sec-mod">

			<ul id="og-greed-treee-two" class="og-grid serviceFirstTab">
				<li>
					<a href="#" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე..">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="#" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="დასაქმების სააგენტოს პრიორიტეტული ამოცანაა, მისი კომპეტენციისა და უფლებამოსილების ფარგლებში მაქსიმალურად უზრუნველყოს სააგენტოს სერვისებით მოსარგებლეების ინფორმირებულობა კარიერული პერსპექტივების შესახებ. სააგენტოსთვის მნიშვნელოვანია ხელი შეუწყოს მოქალაქეების პროფესიულ/კარიერულ განვითარებას, სწორედ ამიტომ, შრომის ბაზრის მართვის ელექტრონული სისტემის მეშვეობით, სააგენტო შესაძლებლობას აძლევს მომხმარებელს მარტივად, ერთ სივრცეში მოიძიოს მისთვის საჭირო ინფორმაცია კარიერულ დაგეგმვასა და პროფესიებზე.">
						<img class="service_feirst__img-acard" src="img/footer-logo.png" alt="img03"/>
					</a>
				</li>
			</ul>


		</div>
	</div>
</div><!-- .tabs -->