<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li class="statAnimationInit" >კვლევები</li>
		<li>მონაცემები</li>
	</ul>

	<div class="tabs__content-top tabs__content-top--slick active">
        <div class="filters">
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
        </div>
		<div class="main-content__tab-slider">
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
			<div class="tab-slider">
				<img src="img/profclass2.png" alt="">
			</div>
		</div>
	</div>

<div class="tabs__content-top">
		<div class="container__menu-scrol part-sec-mod">


			<ul id="og-grid" class="og-grid og-grid-stat">
				<li>
					<a href="/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="img/4491.png" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="img/4491.png" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="img/4491.png" alt="img03"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
						<img src="img/4491.png" alt="img01"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
						<img src="img/4491.png" alt="img02"/>
					</a>
				</li>
				<li>
					<a href="/" data-largesrc="images/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
						<img src="img/4491.png" alt="img03"/>
					</a>
				</li>
			</ul>



		</div>
	</div>



	<div class="tabs__content-top">
        <div class="filters services">
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
        </div>
		<div class="stat__main-content">
			<p>გავრცელებული მოსაზრებით, Lorem Ipsum შემთხვევითი ტექსტი სულაც არაა. მისი ფესვები ჯერკიდევ ჩვ. წ. აღ-მდე 45 წლის დროინდელი კლასიკური ლათინური ლიტერატურიდან მოდის. ვირჯინიის შტატში მდებარე ჰემპდენ-სიდნეის კოლეჯის პროფესორმა რიჩარდ მაკკლინტოკმა აიღო ერთ-ერთი ყველაზე იშვიათი ლათინური სიტყვა "consectetur" Lorem Ipsum-პასაჟიდან და გადაწყვიტა მოეძებნა იგი კლასიკურ ლიტერატურაში. ძიება შედეგიანი აღმოჩნდა — ტექსტი Lorem Ipsum გადმოწერილი ყოფილა ციცერონის "de Finibus Bonorum et Malorum"-ის 1.10.32 და 1.10.33 თავებიდან. ეს წიგნი ეთიკის თეორიის ტრაქტატია, რომელიც რენესანსის პერიოდში ძალიან იყო გავრცელებული. Lorem Ipsum-ის პირველი ხაზი, "Lorem ipsum dolor sit amet..." სწორედ ამ წიგნის 1.10.32 თავიდანაა.

			მათთვის, ვისაც აინტერესებს, ქვევით მოყვანილია Lorem Ipsum-ის ორიგინალი ნაწყვეტი 1500-იანი წლებიდან. ასევე შეგიძლიათ ნახოთ 1.10.32 და 1.10.33 თავები ციცერონის "de Finibus Bonorum et Malorum"-დან, რომელსაც თან ერთვის 1914 წელს ჰ. რექჰამის შესრულებული ინგლისურენოვანი თარგმანი.			</p>
        <div class="filters services stat-three-tab">
            <select  class="js-filter" name="" id="">
                <option selected disabled value="">Filter</option>
                <option value="">საბეჭდი</option>
                <option value="">ტიპოგრაფიული</option>
                <option value="">არამედ</option>
            </select>
        </div>
		</div>
	</div>


</div><!-- .tabs -->