<div class="tabs-top">

	<ul class="tabs__caption-top">
		<li class="active">ჩვენი სტატისტიკა</li>
		<li>კვლევები</li>
	</ul>

<div class="tabs__content-top  active">
		<div class="container__menu-scrol gallary-padding">
			<div class="touchtouchs-lider__container">
				<div class="touchtouchs-lider" id="tuch-gallery">
					<a href="img/4491.png" data-lightbox="roadtrip"><img class="touchtouch__img" src="img/4491.png" alt=""></a>
					<a href="img/4491.png" data-lightbox="roadtrip"><img class="touchtouch__img" src="img/4491.png" alt=""></a>
					<a href="img/4491.png" data-lightbox="roadtrip"><img class="touchtouch__img" src="img/4491.png" alt=""></a>
					<a href="img/4491.png" data-lightbox="roadtrip"><img class="touchtouch__img" src="img/4491.png" alt=""></a>
					<a href="img/4491.png" data-lightbox="roadtrip"><img class="touchtouch__img" src="img/4491.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>

<div class="tabs__content-top">
		<div class="container__menu-scrol">
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
			<div class="content-part__item">
				<div class="part-item__container">
					<img src="img/4491.png" alt="">
					<div class="part-item__back-text">
						<p>შრომის ბაზრისა და ეკონომიკური პროგნოზირების ობსერვატორია აჭარაში</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</div><!-- .tabs -->