<div class="tabs-top">

	<ul class="tabs__caption-top">
		<!--<li class="active">ჩვენი სტატისტიკა</li>-->
		<!--<li>კვლევები</li>
		<li>მონაცემები</li>-->
	</ul>

	<div class="tabs__content-top  active">
		<div class="news-content">
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
			<div class="news-content__item">
				<div class="news-item__img">
					<img src="img/5659.jpg.png" alt="">
					<div class="background-color-news">
						<p>მემორანდუმი ბათუმის ნავიგაციის სასწავლო უნივერსიტეტთან</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	

</div><!-- .tabs -->