/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize";
@import "../../bower_components/select2/dist/css/select2";
@import "../../bower_components/lightbox2/dist/css/lightbox";

/*
* Custom
*/
@import "partials/app";
@import "partials/variables.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "style1";
@import "style2";
@import "_base";
@import "_mediaqueries.scss";
@import "daterangepicker";
@font-face {
    src: url(../fonts/bpg-nino-mtavruli-webfont.ttf);
    font-family: "BPG Nino Mtavruli";
}

.main {
	//position: fixed;
	//top:0;
	//left: 0;
	//right: 0;
	margin-left: 0;
	//background-color: white;
}
.content.content--show {
	position: fixed;
}

.meta--full {
	width: 20%;
	background-color: #005ac8;
	box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
}



.content__item.content__item--show {
	width: 80% !important;
	background-color: white;
}

.meta__author {
	color: #FFf;
}

.meta__date {
	color: #cecece;
}

.body {
	font-family: "BPG Nino Mtavruli" !important;
	padding-bottom: 20px !important;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #0094D6;
}
a:hover {
	text-decoration: none;
}
p {
	padding: 7px 0;
}
h1 {
	font-size: 21px;
	font-weight: normal;
	margin: 0 0 30px;
}
h2 {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 25px;
}
body {
	background: #F6F6F6;
}
.text {
	max-width: 700px;
	margin: 0 0 30px;
	background: #FFF;
	border: 2px solid #7DCA86;
	border-radius: 5px;
	padding: 7px 15px;
	box-sizing: border-box;
}

.tabs {
	max-width: 1280px;
	margin: 0 0 30px;
	height: 800px;
}
.tabs__caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	list-style: none;
	position: relative;
	margin: -1px 0 0 -1px;
	height: 80%;
	align-self: flex-end;
	box-shadow: -7px -7px 44px 2px rgba(0,0,0,0.35);
	border-radius: 20px 0 0 20px;
	width: auto;
}

.tabs__caption-top {
	list-style: none;
	display: flex;
	height: 20%;
	width: 85%;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;

	li {
		font-family: "BPG Nino Mtavruli";
		font-size: 24px;
		background-color: #0064de;
		padding: 20px 30px 11px;
		border-radius: 20px;
		color: #ffffff;
		box-shadow: 0px 18px 51px -16px rgba(0,0,0,0.55);
		transition: .3s;

		&:hover {
			box-shadow: none;
			font-weight: bold;
			background: #003e8a;
		}

		&.active {
			box-shadow: none;
			font-weight: bold;
		}
	}
}
.tabs__caption li:last-child:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: -2px;
	z-index: -1;
	height: 5px;
	background: #7DCA86;
}
.tabs__caption:after {
	content: '';
	display: table;
	clear: both;
}
.tabs__caption li {
	padding: 9px 15px;
	// margin: 1px 0 0 1px;
	opacity:0.7;
	background: #005ac8;
	color: #FFF;
	position: relative;
	// border: solid #61AF6A;
	// border-width: 2px 2px 0;
	// border-radius: 5px 5px 0 0;
	text-align: center;
	height: 25%;
	transition:.5s;
}
.tabs__caption li:not(.active) {
	cursor: pointer;
}

.tabs__caption-top li:not(.active) {
	cursor: pointer;
}

.tabs__caption li:not(.active):hover {
	background: #003e8a;
	opacity: 1;
	font-weight: bold;
}



.tabs__caption .active {
	background: #003e8a;
	color: #fff;
	font-weight: bold;
	opacity: 1;

	.tab-arrow {
		width: 18px;
		height: 29px;
		position: absolute;
		right: -10px;
		top: 50%;
		z-index: 5;
		transform: translateY(-50%);
		background: url('../img/tab-arrow.png');
	}
}



.tabs__caption-top .active {
	background: #003e8a;
}


// .tabs__caption .active:after {
// 	content: '';
// 	position: absolute;
// 	bottom: -5px;
// 	left: 0;
// 	right: 0;
// 	height: 5px;
// 	background: #FFF;
// }
.tabs__content {
	display: none;
	// background: #0051b5;
	// border: 2px solid #7DCA86;
	// border-radius: 0 10px 10px 0;
	// padding: 0px 15px;
	width: 100%;


}

.tabs__content-top--first-screen, .tabs__content-top--slick {
	.mCustomScrollBox {
		display: flex;
	}
}




.tabs__scroll {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.tabs__content-top {
	background: #0051b5;
	height: 80%;
	display: none;
	padding: 14px;
	box-sizing: border-box;
	border-radius: 0 20px 20px 0;
	position: relative;

}


.tabs__content.active {
	display: block;
}

.tabs__content-top.active {
	display: block;
}

.vertical .tabs__caption {
	float: left;
	display: flex;	
	flex-wrap: nowrap;
	ul {
		align-self: flex-end;
	}
}

.tabs__caption {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	li {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.04);
		&:last-child {
			box-shadow: none;
		}
	}

	img {
		width: 28px;
		height: 28px;
	}
}

.vertical .tabs__caption li {
	float: none;
	// border-width: 2px 0 2px 2px;
	// border-radius: 5px 0 0 5px;
	width: 100%;
}
.vertical .tabs__caption li:last-child:before {
	display: none;
}
.vertical .tabs__caption .active:after {
	left: auto;
	top: 0;
	right: -2px;
	bottom: 0;
	width: 2px;
	height: auto;
}
.vertical .tabs__content {
	overflow: hidden;
}

#flex {
	display: flex;
	height: 91vh;
	width: 85%;
	@media (max-width: 768px) {
		width: 95%;
	}
	
	@media (min-height: 1024px) {
		height: 80vh;
	}
}

.first-tab {
	border-radius: 20px 0 0 0;
}

.last-tab {
	border-radius: 0 0 0 20px;
}

.tabs-top {
	height: 100%;
}

.tabs {
	margin: 0 auto;
}


.main-content__tab-about {
	display: flex;
	align-items: center;
	height: 100%;
	widows: 100%;
}

.tab-about__img {
	border-radius: 20px;
	margin: 0 auto;
	background-image: url(../img/2020.png);
	width: 90%;
	height: 90%;
	background-repeat: no-repeat;
	background-position: center center;
}

.main-content__tab-slider {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	height: 0;
	overflow: hidden;

	&.active {
		height: 100%;
	}

}

.tab-slider {
	display: none;
}

.main-content__tab-slider-stat {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	height: 0;
	overflow: hidden;

	&.active {
		height: 100%;
	}

}


.tab-slider {
	height: 90%;
	width: 90%;
	margin: 0 auto;
	margin: 0 -25px;
	img {
		padding: 0 25px;
		width: 100%;
		height: 100%;
	}
}

#og-grid {
	position: relative;
}

.og-grid li {
	margin: 6px 10px;
	margin-top: 15px;
    width: 31%;
	box-sizing: border-box;
}
.og-expander {
	border-radius: 24px;
}


.main-content__butto3 {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding-left: 5%;
	padding-top: 5%;
}

.main-content__butto3__first-service {
	padding-left: 0;
	// overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	height: auto;
}

.buttone3__title {
	color: #fff;
	font-size: 22px;
}

.buttone3__text {
	color: #cecece;
	font-size: 14px;
}

.button3__persone {
	border-radius: 20px;
	opacity: 0.5;
	box-sizing: border-box;
	padding: 10px 30px;
	width: 33%;
	height: auto;
	text-align: center;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	img {
		width: 20%;
		margin: 0 auto;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
		background-color: #0064de;
		box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
	}
}

.news-content {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding-left: 7%;
	padding-top: 2%;
}

.news-content__item {
	border-radius: 20px;
	box-sizing: border-box;
	padding: 10px 30px;
	width: 33%;
	height: auto;
	text-align: center;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.news-item__img {
	position: relative;
	height: 100%;
	width: 100%;
	img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
}

.background-color-news {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	opacity: 0;
	border-radius: 10px;
	&:hover {
		opacity: 1;
		transition: 0.4s;
	}
	p {
		color: #fff;
		font-family: "BPG Nino Mtavruli";
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.container__menu-scrol {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	// padding-left: 2.5%;
	//padding-top: 2%;
}

.content-part__item {
	border-radius: 20px;
	box-sizing: border-box;
	padding: 1%;
	width: 33%;
	height: auto;
	text-align: center;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	img {
		height: 100%;
		width: 100%;
		border-radius: 10px;
	}
	@media (max-width: 1200px) {
		width: 50%;
		padding: 1.5%;
	}
}


.part-item__container {
	height: 100%;
	width: 100%;
	position: relative;
}

.part-item__back-text {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	display: flex;
	align-items: center;
	opacity: 0;
	&:hover {
		opacity: 1;
		transition: 0.4s;
	}
	p {
		font-size: 18px;
		font-weight: 700;
		color: #fff;
		cursor: pointer;
	}
}

@media screen and (max-width: 650px) {

	.tabs__caption li {
		-webkit-flex: 1 0 auto;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}
	.vertical .tabs__caption {
		float: none;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.vertical .tabs__caption li {
		border-width: 2px 2px 0;
		border-radius: 5px 5px 0 0;
	}
	.vertical .tabs__caption li:last-child:before {
		display: block;
	}
	.vertical .tabs__caption .active:after {
		top: auto;
		bottom: -5px;
		left: 0;
		right: 0;
		width: auto;
		height: 5px;
		background: #FFF;
	}

}

.slick-list {
	width: 100%;
	height: auto;
}

.profile-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.profile__contact {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #005ac8;
	position: fixed;
}

.profile__information {
	height: 100%;
	background-color: #edecec;
}

.content__img {
	width: 50%;
	img{
		width: 100%;
	}
}

.profile__name-title {
	p {
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
	}
}

.profile__text {
	p {
		font-size: 18px;
		color: #cecece;
		text-transform: uppercase;
	}
}

.profile-contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding-left: 15%;
}

.profile-contact__menu {
	list-style: none;
	padding: 15px 0;
	li {
		color: #cecece;
	}
}


.first__item {
	border-radius: 20px;
	opacity: 0.5;
	box-sizing: border-box;
	padding: 7px 40px;
	width: 33%;
	height: auto;
	text-align: center;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 5%;
	img {
		width: 65%;
		margin: 0 auto;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
		background-color: #0064de;
		box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
	}
}

.first__item-blog {
	border-radius: 20px;
	opacity: 0.5;
	box-sizing: border-box;
	padding: 10px 40px;
	width: 33%;
	height: auto;
	text-align: center;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 5%;
	transition: 0.2s;
	img {
		width: 65%;
		margin: 0 auto;
		transition: 0.2s;
	}
	p {
		transition: 0.2s;
		opacity: 0;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
		background-color: #0064de;
		border-radius: 10px;
		box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
		img {
			width: 40%;
			transition: 0.2s;
		}
		p {
			padding: 20% 0;
			transition: 0.2s;
			opacity: 1;
		}
	}
}


.second-service__container {
	display: flex;
}

.second__title {
	font-size: 18px;
	color: #fff;
	font-family: "BPG Nino Mtavruli";
	p {
		border-radius: 20px;
		background-color: #0064de;
		padding: 10px 20px;
		width: 30%;
		margin: 10px 0;
	}
}

.second-service__container-owerflow {
	overflow-y: auto;
}

.first-service__titile {
	margin-top: 1%;
	text-align: center;
	padding: 1% 5%;
	p {
		font-size: 18px;
		color: #fff;
		font-family: "BPG Nino Mtavruli";
		padding: 10px 30px;
		border-radius: 20px;
		background-color: #0064de;
		margin: 0 auto;
	}
}

.first-service__text {
	padding: 1% 5%;
	p {
		font-size: 16px;
		font-family: "BPG Nino Mtavruli";
		padding: 10px 30px;
		border-radius: 10px;
		background-color: #c8c8c8;
		font-weight: bold;
	}
}

.about-3__text-title {
	text-align: center;
	font-size: 22px;
	color: #fff !important;
}

.about-3__text {
	text-align: center;
	font-size: 18px;
	color: #94ADE0 !important;
}

.part-item__container--opasity-part {
	opacity: 0.5;
	transition: 0.4s;
	border-radius: 19px;
	&:hover {
		opacity: 1;
		transition: 0.4s;
		box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.75);
	}
}

.part-sec-mod {
	padding-top: 0;
	// padding-left: 1%;
}

// .part-item-margin {
// 	margin-bottom: 15px !important;
// }

.stat__main-content {
	width: 90%;
	margin: 0 auto;
	background-color: #ededed;
	padding: 15px 10px;
	border-radius: 20px;
	p {
		font-size: 24px;
	}
}

.contact-about__item-form {
	padding-left: 10px;
	color: #fff !important;
	font-size: 18px !important;
	margin: 0;
	display: flex;
	flex-direction: column;
	span {
		padding: 3px 0;
	}
}

.about-1__slider-container {
	width: 70%;
	height: 220px;
	background-color: rgba(0,0,0,0.8);
	margin-left: 12%;
	transform: translateY(60%);
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-1__slik {
	text-align: center;
	display: flex;
	align-items: center;
	p {
		color: #fff;
		font-size: 22px;
	}
}

.about-1__slider-container {
	.slick-list {
		padding:0 !important;
	}

	.tab-about__info {
		height: 220px;
		text-align: left;
		padding: 30px 50px;
		word-wrap: break-word;
		overflow: hidden;

		.info-title {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.info-description {
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.1;
		}
	}
}

.tab-about__info {
	display: none;
}

.touchtouch__img {
	border-radius: 22px;
	width: 33%;
	height: auto;
	padding: 0.9%;
	opacity: 0.5;
	transition: 0.4s;
	&:before {
		content: "text text text";
		color: #000;
		font-size: 22px;
		display: inline-block;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
	}
	@media (max-width: 1200px) {
		width: 49%;
	}
}

.gallary-padding {
	padding-top: 0;
}

.service-grand__img {
	margin: 0 auto;
	padding-bottom: 30px !important;
}

.service-grand__text {
	color: #fff !important;
	display: block !important;
	font-size: 25px !important;
	opacity: 1 !important;
	// padding-top: 25px !important;
	// &:hover {
	// 	transition: 0.4s !important;
	// 	padding-bottom: 15px !important;
	// 	opacity: 1 !important;
	// }
}

.maine-news-tab__img {
	height: 30%;
	img {
		width: 100%;
	}
}

.img__about-contact-menu {
	width: 14px !important;
	// padding-right: 10px;
	height: 14px !important;
}

.contact-about__item-form {
	span {
		padding: 0 10px !important;
	}
}


.img__team-about {
	img {
		width: 44px;
		// margin-left: 1%;
	}
}

.maine-news-tab__text {
	margin-top: 15px !important;
}

.atlas-img-container {
	padding: 0;
}

.atlas-felx {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	img {
		width: 50%;
		height: auto;
	}
}

.og-fullimg {
	display: none;
}

.select2-container,.datepicker {
	width: 125px !important;
	height: 40px;
	outline: 0;
	box-shadow: 0px 18px 51px -16px rgba(0, 0, 0, 0.55);
}



.select2-container--default .select2-selection--single {
	background: #0064de;
	border-radius: 20px !important;
	color: #ffffff !important;
	outline: 0;
	border:0;
	height: 40px;
	display: flex;
	flex-flow: column wrap;
	justify-content:center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 10px;
	right: 10px;
	background: url("../img/funnel.png") no-repeat;
	background-size: contain;
	* {
		display: none;
	}
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-top: 3px;
	padding-left: 25px;
	padding-right:20px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.select2-dropdown {
	top: 15px;
	border-radius: 10px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-image: -moz-linear-gradient( 0deg, rgb(1,94,208) 0%, rgb(41,136,255) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(1,94,208) 0%, rgb(41,136,255) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(1,94,208) 0%, rgb(41,136,255) 100%);
	&:last-child {
		border-radius: 0 0 7px 7px;
	}
}

.select2-results__option {
	color: #0064dd;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	&:last-child {
		border-radius: 0 0 7px 7px;
	}
}

.datepicker {
	background: #0064de;
	border-radius: 20px !important;
	color: #ffffff !important;
	vertical-align: middle;
	margin-left: 25px;
	display: inline-flex;
	flex-flow: column wrap;
	justify-content:center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 3px;
	cursor: pointer;
	position: relative;
	width: 110px !important;

	.date-ico {
		position: absolute;
		right: 20px;
		top: 10px;
		background: url('../img/calendar-day-15.png') no-repeat;
		background-size: contain;
		width: 18px;
		height: 18px;
	}
}

.filters {
	padding-bottom: 20px;
}

.slik-news_title {
	padding: 40px;
}

.slick-slider-socntiner__news-item {
	width: 300px;
	margin: 0 -20px;	
	img {
		width: 100%;
		padding: 20px;
	}
}



.procet-button__download__item {
	width: 130px;
	text-align: center;
	border-radius: 20px;
	padding: 10px 0;
	background: rgba(2,95,210,1);
	a {
		text-decoration: none !important;
		color: #fff !important;
		font-size: 16px;
		text-transform: uppercase;
	}
}

.services {
	width: 80% !important;
	margin: 0 auto;
	text-align: center !important;
	span {
		width: 100% !important;
		background-image: none !important;
	}
}

.service_feirst__img-acard {
	opacity: 0.5;
	transition: 0.4s;
	width: 70%;
	margin: 0 auto;
	display: block;
	&:after {
		content: "some text";
		display: block;
		color: #fff;
		font-size: 18px;
		width: 20px;
		height: 20px;
		background-color: #000;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
	}
}

.button__next-prev__tabs {
	display: none !important;
	position: absolute;
	width: 75%;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.next-prev__tabs__item {
	padding: 12px 0;
	span {
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		padding-top: 7px;
		padding-left: 17px;
	}
}

// .prev-tab__befor {
// 	&:before {
// 		content: "";
// 		background-image: url(../img/shape-1.png);
// 		width: 21px;
// 		height: 25px;
// 		display: inline-block;
// 		background-size: cover;
// 		transform: rotate(90deg);
// 		padding: 0 5px;
// 		margin-right: 10px;
// 	}
// }

.next-prev__img {
	height: 24px;
	width: 18px;
	img {
		height: 100%;
		width: 100%;
		transform: rotate(90deg);
	}
}

.next-button-about {
	img {
		transform: rotate(-90deg);
	}
}

.next-prev__tabs__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.next-button-about__span {
	padding-right: 17px;
}

.stat-three-tab {
	width: 20% !important;
	margin: 0 0 !important;
}

.hover-grand {
	opacity: 0.5 !important;
	transition: 0.4s;
		&:hover {
			opacity: 1 !important;
			transition: 0.4s;
		}
}

.atlas-acard {
	padding-top: 40px !important;
	background-color: #005AC8 !important;
	border-radius: 20px;
}

.tuch-gallery {
	a {
		width: 33% !important;
		&:after {
			content: "2222";
			
		}
	}

}


// .daterangepicker {
// 	display: none !important;
// }

.bakcground-html__tab {
	font-family: "BPG Nino Mtavruli";
	background-image: url(../img/background.png) !important;
	background-repeat: repeat;
}

.slick-slide {
	padding: 0 20px;
}

.tabs-burger {
	position: absolute !important;
	padding: 7vh 10vh;
}

.tabs .vertical {
	height: 95vh !important;
}


.item-corner {
	left: 0 !important;
	bottom: 0 !important;
	border-radius: 0 0 0 8px !important;
}

@media screen and (min-width: 2100px) {
	.grid__item {
		width: 21.66% !important;
		min-height: 243px !important; 
	}
}

body {
	.daterangepicker  {
		display: none;
	}
}

.tabs__content {
	margin-left: -4px;
}

.slick-track {
	display: flex;
	align-items: center;
}

.part-tab__ul-flex {
	display: flex;
	flex-wrap: wrap;
}

.tabs__caption {
	font-size: 11px;
}

.js-toggle-person-info {
	position: relative;
}

.person-info {
	width:185px;
	height: 130px;
	background: #ffffff;
	padding: 20px;
	position: absolute;
	border-radius: 20px;
	box-shadow: 0px 18px 51px -16px rgba(0, 0, 0, 0.55);
	left: 50%;
	top: -1000px;
	transition: top .3s;
	transform: translateX(-50%);
	cursor: auto;

	&.active {
		top: 40px;
	}

	.main-button--content, .main-button.slik__button-top {
		width: 145px;
		height: 40px;
		font-size: 12px;
		margin: 0;

		&:first-child {
			margin-bottom: 10px;
		}

	}

}

.select2 {
	margin: 0 15px !important;
}

.tabs__content-stat {
	height: 87% !important;
}

.part-padding__top {
	padding-top: 12px;
}

.part-sec__coub {
	border-radius: 10px;
}

.stat-sec__coub {
	border-radius: 12px;
}

.touchtouch__img__sec {
	border-radius: 22px;
	width: 33%;
	height: auto;
	padding: 0.9%;
	opacity: 0.5;
	transition: 0.4s;
	&:before {
		content: "text text text";
		color: #000;
		font-size: 22px;
		display: inline-block;
	}
	&:hover {
		opacity: 1;
		transition: 0.4s;
	}
	@media (max-width: 1200px) {
		width: 49%;
	}
}

#theSidebar {
	display: none !important;
}

.about-fix {
	li {
		a {
			height: auto !important;
		}
	}
}

.news-slider-init {
	padding: 0 !important;
}


@media (min-width: 1025px) and (max-width: 1650px) {
	.news-slider-init {
		width: 23% !important;
	} 

	.meta__avatar {
		margin-bottom: 5px !important;
	}

	// .meta {
	// 	img {
	// 		width: 50px;
	// 		height: 50px;
	// 	}
	// }

	.about-three__tabs {
		padding: 0 !important;
	}

	.grid__item {
		p {
			font-size: 18px;
		}
	}

	.about-3__text {
		font-size: 16px !important;
	}
	
	.about-three__tabs {
		width: 23% !important;
	}

	.content-part__item {
		width: 25%;
	}

	.og-grid {
		li {
			width: 23%;
		}
	}

	.proj-height__item {
		width: 23%;
		padding: 0 !important;
	}

	.og-grid-stat {
		display: flex !important;
		flex-wrap: wrap !important;
		li {
			width: 23% !important;
		}
	}

	.touchtouch__img {
		width: 24%;
	}

	.touchtouch__img__sec {
		width: 24%;
	}

	.serviceFirstTab {
		display: flex;
		justify-content: center;
	}
}