@import '../../node_modules/slick-carousel/slick/slick.css';
// @import '../../node_modules/slick-carousel/slick/slick-theme.css';

html {
    background-color: #fff !important;
}

.body-main {
    background-color: #fff !important;
}

.container-main-page {
    margin: 0 auto;
    width: 1050px;
    @media (max-width: 1024px) {
        width: 90%;
    }
}

.header-main-page {
    width: 100%;
}

.header-main-page__video {
    background-image: url(../img/uzor.jpg);
    height: 800px;
}

.main__navigation-menu {
    display: flex;
    justify-content: space-between;
}

.navigation-menu__burger {
    span {
        padding: 10px;
    }
}

.navigation-menu__icons {
    padding: 10px;
}

 